---
import { Image } from 'astro:assets';
import about from '../img/about.jpg';
import logo from '../img/logo.png';
const currentYear = new Date().getFullYear();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Motown Tech | Where Ideas Become Reality
			</title>
	</head>
	<body class="bg-gray-300">
		<div class="text-white w-full flex justify-center items-center p-24">
			<div class="">
				<Image src={logo} alt="Motown Logo" />
				<p class="text-blue-700 text-center font-semibold font-mono tracking-wide">Where Ideas Become Reality</p>
			</div>
		</div>	
		<div class="bg-gray-900 rounded-md mx-8 p-8 shadow-md text-gray-900">
			<div class="text-6xl text-gray-50 mb-16 font-semibold font-mono tracking-wide underline underline-offset-8">Our Services</div>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
				<div class="bg-gray-200 rounded-md p-4 text-balance">
					<div class="text-blue-600 font-bold underline underline-offset-8 mb-4">Software Development</div>	
					<!-- <div class="text-blue-500 font-semibold pb-4">Custom software solutions tailored to your business needs. </div> -->
					<div>Whether you need a new application or want to enhance existing systems, we create software that drives efficiency and innovation. Let us help you turn your ideas into powerful, user-friendly software.</div>	
				</div>	
				<div class="bg-gray-200 rounded-md p-4 text-balance">
					<div class="text-blue-600 font-bold underline underline-offset-8 mb-4">Digital Marketing</div>	
					<!-- <div>Grow your brand and reach your target audience effectively.</div> -->
					<div>Our digital marketing strategies are designed to increase visibility, drive traffic, and convert leads. From SEO to social media, we’re here to help you build a strong online presence.</div>	
				</div>	
				<div class="bg-gray-200 rounded-md p-4 text-balance">
					<div class="text-blue-600 font-bold underline underline-offset-8 mb-4">Mobile Development</div>	
					<!-- <div>Create seamless mobile experiences on iOS and Android.</div> -->
					<div>We develop mobile apps that are intuitive, engaging, and aligned with your business goals. Whether you’re looking to launch a new app or improve an existing one, we’ve got you covered.</div>	
				</div>	
				<div class="md:col-span-3 flex flex-col md:flex-row gap-4">
					<div class="bg-gray-200 rounded-md p-4 text-balance w-full md:w-1/2">
						<div class="text-blue-600 font-bold underline underline-offset-8 mb-4">Automation</div>	
						<!-- <div>Streamline your processes and increase productivity.</div> -->
						<div>We design automation solutions that reduce manual work, minimize errors, and save time. Let us help you automate repetitive tasks so you can focus on what matters most.</div>	
					</div>	
					<div class="bg-gray-200 rounded-md p-4 text-balance w-full md:w-1/2">
						<div class="text-blue-600 font-bold underline underline-offset-8 mb-4">Consulting</div>	
						<!-- <div>Expert guidance to navigate complex technology decisions.</div> -->
						<div>Our consulting services provide insights and strategies to optimize your IT infrastructure and drive business growth. We’re here to help you make informed decisions and achieve your goals.</div>	
					</div>	
				</div>
			</div>	  
		</div>
		<div class="mx-auto p-8 md:p-16 my-10">
			<div class="text-6xl text-gray-900 mb-8 font-semibold font-mono tracking-wide underline underline-offset-8">About Us</div>
			<div class="flex flex-col md:flex-row gap-4">
				<div class="text-base md:text-2xl">
					<p class="py-4">At Motown Tech, we are passionate about crafting innovative digital solutions that drive businesses forward. Our team blends technical expertise with a creative flair, delivering cutting-edge websites, custom software solutions, and automation tools that not only meet the unique needs of our clients but also exceed their expectations. We take pride in creating solutions that empower businesses to thrive in today’s competitive landscape.</p>
					<p class="py-4">Our approach is centered around collaboration and understanding the distinct challenges and opportunities within each industry we serve. Whether you're a startup looking to establish a strong online presence or an established enterprise seeking to optimize your operations through automation, Motown Tech is your trusted partner. We are committed to delivering solutions that are as dynamic and diverse as the clients we work with, ensuring that every project is a harmonious blend of functionality, innovation, and style.</p>
				</div>
				<div class="flex justify-center" style="clip-path: polygon(50% 0%, 88% 8%, 100% 43%, 100% 100%, 68% 100%, 32% 100%, 6% 88%, 0% 43%, 0 0);">
					<Image src={about} alt="Motown Logo" width={3000}/>
				</div>
			</div>
		</div>
		<div class="mx-auto p-8 md:p-16 mt-10 bg-gray-900 text-gray-50 text-center">
			<div class="text-6xl mb-8 font-semibold font-mono tracking-wide underline underline-offset-8">Reach Out</div>
			<div class="flex gap-4 justify-center">
				<div class="text-base md:text-2xl">
					<p class="py-1">Ready to start a project or just want to chat?</p>
					<p class="py-1">Drop us a line, and let's make something amazing together.</p>
					<a href="mailto:contact@motowntech.com" class="mt-8 bg-blue-600 rounded-md shadow-md px-6 py-2 font-semibold inline-block">Contact Us</a>
				</div>
			</div>
		</div>
		<footer class="bg-[#E7E7E7] p-2 text-center">
			<p>&copy; {currentYear} Motown Tech. All rights reserved.</p>
		</footer>
	</body>
</html>
